body {
  font-family: sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 20px;
}

h1 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

svg {
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 2rem;
}

#map, #map2 {
  margin-bottom: 2rem;
  border-radius: 8px;
  overflow: hidden;
}

#barchart {
  width: 100%;
  height: 400px;
}
